@tailwind base;
@tailwind components;
@tailwind utilities;

/* input[type='number'] {
 
    
} */
html {
    margin-left: 5%;
    margin-right: 5%;
    background-color: #EEEEEE;
}

.textL {
    width: 36vw;
    border: 1px solid black;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    /* border: 1px solid black; */
}

.headline {
    font-size: 4em;
    width: fit-content;
    margin: auto;
    align-self: center;
    color: #222;
}
.xl2 {
    width: 36vw;
    text-align: right;
}



.link {
    border-top: 1px solid black;
    background-color: black;
    color: white;
    
}

.grid-two-cols {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
    width: 50%
}

.item {place-self: center;}

.text {
    color: #222;
    margin: auto;
    width: fit-content;
    padding-top: 50px;
}

.darkThemed {
    background-color: rgb(17, 17, 17);
    color: aliceblue; 
  }

  .contrasted {
    background-color: white;
    color: rgb(17, 17, 17); 
  }

  .fa {
    font-size: 35px;
  }

  .darkTheme {
    position: absolute;
    top: 33px;
    left: 33px;
  }

.footer {
    position: absolute;
    bottom: 10px;
    width: 90vw;
    display: flex;
    justify-content: center;
    border-top: 2px solid black;
}

.ethDataResponseField {
    background-color: #222;
    position: absolute;
    z-index: 1;
    width: fit-content;
    margin: auto;
    height: fit-content;
    background-color: #EEEEEE;

}